:root {
    --main-color: rgb(255, 128, 0);
    font-size: 10px;
}

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header start*/
.headerdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
    top: 0;
    position: fixed;
    background-color: var(--main-color);
    border-bottom: 0.2rem solid;
    z-index: 3;
}

.logo {
    width: 10rem;
    height: 10rem;
    margin-left: 2rem;
    border-radius: 10rem;
    cursor: pointer;
}

.links {
    margin-right: 5rem;
}

.linkbutton {
    background-color: black;
    color: white;
    width: 7rem;
    height: 3.5rem;
    margin-right: 2.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.linkbutton:hover {
    background-color: white;
    color: black;
    border: 0.1rem solid;
}

.menu-icon {
    display: none;
    font-size: 5rem;
    margin-right: 2rem;
    cursor: pointer;
    background-color: var(--main-color);
    border: none;
}

/*header end*/

/*sidebar start*/

.sidebardiv {
    position: absolute;
    width: 28rem;
    height: 100vh;
    background-color: var(--main-color);
    z-index: 5;
    right: 0;
    top: 0;
    display: none;
    border-left: 2px solid;
}

.close-icon {
    font-size: 5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    bottom: 1rem;
}

.close-icon:hover {
    color: white;
    /*    border: 1px solid;
    border-color: black;
    border-radius: 4px; */
    cursor: pointer;
}

.sidebar-items {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.sidebar-item {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    border: none;
    background-color: var(--main-color);
    /*    border-bottom: 1px solid;
    border: 75%; */
    cursor: pointer;
    width: 28rem;
    border-bottom: 1px solid;
    text-align: left;
    padding-left: 0.8rem;
}

.sidebar-item:hover {
    color: white;
    border-color: black;
    text-shadow: 0 0 4px black;
}

/*sidebar end*/


/*footer start*/
.footerdiv {
    background-color: var(--main-color);
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
}

.copyright {
    color: white;
    display: flex;
    align-items: center;
}

.socialmedia-icons {
    color: white;
    display: flex;
}

.footerdiv .socialmedia-icons .icons-item {
    margin-right: 2rem;
    cursor: pointer;
    font-size: 2rem;
}

.footerdiv .socialmedia-icons .icons-item:hover {
    color: black;
}

/*footer end*/

/*home start*/
.homediv {
    margin-top: 10rem;
    background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGl6emF8ZW58MHx8MHx8fDA%3D");
    background-repeat: no-repeat;
    background-size: cover;
    /*   background-size: calc(100% + 200px) 100%;
    background-position: right -200px top; */
    width: 100%;
    min-height: calc(100vh - 10rem);
    /* height: 110vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
}

.title {
    color: white;
    font-size: 7rem;
}

.info {
    color: white;
    font-size: 3rem;
}

.orderlinkbutton {
    background-color: black;
    color: white;
    font-weight: 500;
    width: 9rem;
    height: 4.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.8rem;
    margin-top: 3rem;
}

.orderlinkbutton:hover {
    background-color: var(--main-color);
    color: black;
    border: 0.2rem solid;
    border-radius: 0.6rem;
}

@media (max-width:992px) {
    .homediv {
        height: 75vh;
    }
}

@media(max-width:768px) {
    .homediv {
        height: 50vh;
    }
}

/*home end*/

/*menu start*/
.menudiv {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
    margin-bottom: 5rem;
    min-height: calc(100vh - 10rem);
}

.menu-title {
    color: white;
    text-align: center;
    margin-bottom: 5rem;
}

.menulist {
    display: grid;
    /* grid-template-columns: repeat(auto-fill) minmax(200px, 1fr); */
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
}

.menu-item {
    background-color: var(--main-color);
    width: 30rem;
    height: 33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    cursor: pointer;
}

.menu-item:hover {
    scale: 1.05;
}

.menuitem-img {
    width: 25rem;
    height: 25rem;
}

.menuitem-name {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

h1 {
    font-size: 3.2rem;
}

h3 {
    font-size: 1.872rem;
}

h4 {
    font-size: 1.6rem;
}

.menuitem-price {
    margin-bottom: 0.5rem;
}

.menuitem-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width:992px) {
    .menu-item {
        width: 15rem;
        height: 20rem;
    }

    .menuitem-img {
        width: 12rem;
        height: 12rem;
    }
}

/*menu end*/

/*about start*/
.aboutdiv {
    padding-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    min-height: calc(100vh - 10rem);
}

.about-title {
    color: white;
    font-size: 3.4rem;
}

.about-container {
    display: flex;
    justify-content: center;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.about-infos {
    color: white;
    flex: 2;
    margin-right: 8rem;
    margin-left: 3rem;

}

.about-info {
    color: var(--main-color);
    margin: 1.2rem 0;
}

p {
    font-size: 1.6rem;
}

ul {
    font-size: 1.8rem;
}

.about-img-container {
    position: relative;
    top: 0;
    left: 0;
    width: 50rem;
    height: 50rem;
    flex: 1;
    margin-top: 1rem;
}

.about-img1 {
    position: absolute;
    width: 25rem;
    height: 19rem;
    top: 2rem;
    right: 0;
    z-index: 2;
}

.about-img3 {
    position: absolute;
    width: 25rem;
    height: 19rem;
    left: -2rem;
    top: 10rem;
    z-index: 1;
}

/*about end*/

/*contact start*/
.contactdiv {
    min-height: calc(100vh - 35rem);
}

.contact-form {
    width: 70rem;
    height: 40rem;
    background-color: var(--main-color);
    display: flex;
    margin: auto;
    margin-top: 15rem;
    align-items: center;
    margin-bottom: 5rem;
}

.contact-infos {
    height: 40rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    border-right: 1px solid;
}

.contact-title {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 3.4rem;
}

.contact-info {
    margin-left: 2rem;
}

h4 {
    font-size: 1.6rem;
}

input {
    border: none;
    height: 4rem;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    width: 160px;
    font-size: small;
    background-color: var(--main-color);
    border: none;
}

input:focus {
    border: 1px solid;
    border-color: black;
    outline: none;
}

input::placeholder {
    color: white;
}

.contact-message {
    height: 40rem;
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.message-title {
    margin-top: 6rem;
}

textarea {
    width: 30rem;
    height: 25rem;
    font-size: large;
    background-color: var(--main-color);
    border: none;
    margin-top: 1rem;
}

textarea:focus {
    border: 1px solid;
    border-color: black;
    outline: none;
}

textarea::placeholder {
    color: white;
}

.submit-button {
    background-color: black;
    color: white;
    width: 7rem;
    height: 3.5rem;
    margin-right: 2.5rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 25rem;
}

.submit-button:hover {
    background-color: white;
    color: black;
    border: 1px solid;
}

hr {
    width: 75%;
    border: 1px solid;
    border-color: black;
    margin-bottom: 1rem;
}

@media (max-width:768px) {
    :root {
        font-size: 8px;
    }
}

@media (max-width:600px) {
    :root {
        font-size: 6px;
    }
}

@media (max-width:400px) {
    :root {
        font-size: 4px;
    }
}

@media(max-width:1024px) {
    .about-img-container {
        display: flex;
        flex-direction: column;
    }

    .about-img1,
    .about-img3 {
        position: static;
    }
}

/*contact end*/

/*responsive*/

@media(max-width:768px) {
    .links {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .sidebardiv {
        display: block;
    }

    .sidebar-open {
        margin-right: 28rem;
        /* opacity: 0.4; */
    }

}